@import '/src/styles.scss';
$tableHeight: calc(#{$containerHeight} - 56px);
$tableContainerHeight: calc(#{$containerHeight} - 27px);
:host {
    display: flex;
    flex-grow: true;
    height: $containerHeight;
    .table-container {
        max-height: $containerHeight;
        overflow-y: scroll;
    }
    .fluid {
        width: 90%;
        margin: 0 auto;
        height: $containerHeight;
        padding: 1em;
    }
    .bottom {
        position: absolute;
        bottom: $toolbarHeight;
    }
    .mat-column-select {
        overflow: initial;
    }
    table {
        width: 100%;
        th {
            color: mat-color($primaryPalette, default-contrast);
            background-color: mat-color($primaryPalette);
        }
        tr, td {
            border: none;
        }
        tr:not(.header):hover {
            background-color: rgba(0, 0, 0, 0.2);
        }
        tr:nth-child(even):not(header) {
            background-color:  rgba(0, 0, 0, 0.1);
        }
    }
    .mat-paginator-sticky {
        bottom: 0px;
        position: sticky;
        z-index: 10;
      }
}
